<div class="modal" tabindex="-1" role="dialog" aria-hidden="true"
	ng-controller="individualController"  style="z-index:999999;">
	<div class="modal-dialog">
		<form class="form-horizontal" role="form" name="projectform"
			ng-submit="addAProject();$hide()">
			<div class="modal-content">
				<div class="modal-header"">
					<button type="button" class="close" aria-label="Close"
						ng-click="$hide()">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Add a Project</h4>
				</div>
				<div class="modal-body">

					<div class="form-group">
						<label class="col-sm-2 control-label" for="projectname">Project
							Name </label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="projectname"
								ng-model="fields.projectname" placeholder="Project Name" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="client">Client</label>
						<div class="col-sm-8">
							<select class="form-control" id="client"
								ng-model="fields.client.clientid">
								<option ng-repeat="client in clients" value={{client.clientid}}>{{client.clientname}}</option>
							</select>
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-sm btn-info"
								title="Add a Client" data-content=""
								data-template-url="src/views/modals/admin-add-client-popup.html"
								data-animation="am-flip-x" data-auto-close="1" bs-popover>
								<small>Add Client</small>
							</button>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="projectmanager">Project
							Manager</label>
						<div class="col-sm-10">
							<select class="form-control" id="projectmanager"
								ng-model="fields.projectmanager.userid">
								<option ng-repeat="user in users" value={{user.userid}}>{{user.username}}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="resourceworking">No.
							Of Resources</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="resourceworking"
								ng-model="fields.resourceworking" placeholder="No. Of Resources" />
						</div>
					</div>
					<input type="hidden" name="buid" ng-model="fields.bu.buid"
						ng-value="{{buid}}" ng-init="fields.bu.buid=buid">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
					<button type="submit" class="btn btn-primary">Add Project</button>
				</div>

			</div>
		</form>
	</div>
</div>
